.contacto__informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

}

@media screen and (min-width:768px){

    .contacto__informacion{
        flex-direction: row;
        align-items: normal;
    }

}
@media screen and (min-width:768px){

    .contacto__informacion{
        gap: 1.5rem;
    }

}