.productos__contenido__lista__informacion__code {
    width: 50.98%;
    height: 1rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;

    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}


@media screen and (min-width: 768px) {
    .productos__contenido__lista__informacion__code {
        font-size: 0.4375rem;
        line-height: 0.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .productos__contenido__lista__informacion__code {
        font-size: 0.23rem;
        line-height: 0.26rem;
    }
}