.destacado__visual__titulo{
width: 89.1%;
height: 14%;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 1.375rem;
line-height: 1.625rem;
/* identical to box height */


/* Preto/branco */

color: #FFFFFF;


/* Inside auto layout */
margin-left: 1rem;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

@media screen and (min-width:768px){
    .destacado__visual__titulo{
        width: 91.7%;
        height: 1.91rem;

font-size: 1.625rem;
line-height: 1.91rem;;
    }
    
} 

@media screen and (min-width:1280px){
    .destacado__visual__titulo{
    font-size: 0.9rem;
    line-height: 0.98rem;
    height: 1.5rem;
    margin-left: 4rem;
    width: 70%;

}
}