.agregar__form__div__error{
    display: flex;
    text-align: left;
    font-size: 0.9rem;
    font-family: 'Raleway';
    color: red;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
}

@media screen and (min-width:768px){
    .agregar__form__div__error{
        font-size: 0.5rem;
    }

}

@media screen and (min-width:1280px){
    .agregar__form__div__error{
        font-size: 0.3rem;
    align-self: center;
    width: 43%;
    }

}

