.header__navegacion .header__login{
    display: flex;
    width: 52%;
    justify-content: center;
    align-items: center;
    right: 13%;
    order: 1;
    position: relative;


}
@media screen and (min-width:768px){

    .header__navegacion__busqueda_lupa{
      width: 0.8rem;
      height: 0.8rem;
    left: -13%;
    top: 0.1rem;
    }
    


 

        .header__navegacion__busqueda__logo{
            width: 24.75%; 
            height: 1rem;
        }
        

        .header__navegacion__busqueda__input{
            display: flex;
            border: none;
            width: 8.1607rem;
            
        }

        .header__navegacion__busqueda{
            width: 52.6%;
            gap: 2rem;
            

        }

        .header__navegacion .header__login{
            width: 26%;
            height: 1.2001rem;
            position: relative;
            right: 3%;
          }
    
    
} 



@media screen and (min-width:1280px){
    .header__navegacion__busqueda_lupa{
        width: 0.4rem;
          height: 0.4rem;
          left: -16%;
      }
      .header__navegacion__busqueda_lupa:hover{
        width: 0.5rem;
          height: 0.5rem;
          cursor: pointer;
       
      }
      .header__navegacion__busqueda_lupa:active{
        width: 0.6rem;
          height: 0.6rem;
        
      }
    
      

 

    .header__navegacion__busqueda__logo{
        width: 27%;
        height: 0.81rem;
    
    }
        

        .header__navegacion__busqueda__input{
            display: flex;
            border: none;
            width: 8.1607rem;
            
        }

        .header__navegacion__busqueda{
            width: 65%;
        }

        .header__navegacion .header__login{
            width: 15%;
            height: 1.2001rem;
            position: relative;
            right: 3%;
            margin-top: 0.5rem;
          }
    
    
} 




